<!DOCTYPE html>
<html>
<head>
    <title>Job List</title>
</head>

<body>

<h1>Available Jobs</h1>

<a href="{% url 'create' %}">
    Create New Student
</a>

<hr>

{% for x in stds %}

    <h2>
        <a href="{% url 'detail' x.pk %}">
            {{ x.name }}
        </a>
    </h2>

    <p>Roll: {{ x.roll }}</p>
    <p>Dept: {{ x.dept }}</p>
    <p>Address: {{ x.address }}</p>
    <p>Address: {{ x.phone }}</p>

    <a href="{% url 'edit' x.pk %}">
        Edit
    </a>

    |

    <a href="{% url 'delete' x.pk %}">
        Delete
    </a>

    <hr>

{% empty %}

    <p>No jobs available.</p>

{% endfor %}

</body>
</html>